/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif; */

:root {
  --branding-color: #ff0000;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 12.5%;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.best {
  font-size: 40px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 26px;
}

.content-container {
  padding: 60px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content p {
  margin: 0;
  font-size: 14px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
}

img {
  width: 75%;
  height: auto;
  border-radius: 8px;
}

.project-description {
  padding: 40px 6px;
}

.project-section {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  max-width: 100px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  font-size: 18px;
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 16px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-section {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 12px;
  }
}
