/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif; */

:root {
  --branding-color: #ff0000;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.best {
  font-size: 40px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 26px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
}

img {
  width: 75%;
  height: auto;
  border-radius: 8px;
}

.project-description {
  padding: 40px 6px;
}

.project-section {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
